@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;
@use 'sass:math';

.banner {
	background-image: url('../img/img01.jpg');
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-position: center center;

	@include mix.mobile-l-styles {
		background-attachment: scroll;
		width: 100%;
	}

	.text-div {
		@extend %section;
		flex-basis: 50%;

		@include mix.tablet-styles {
			flex-basis: 100%;
		}

		.inner-div {
			@extend %wrap;
		}

		.uppercase {
			text-transform: uppercase;
		}
	}
}
